.select2-container .select2-selection--single {
    height: 40px;
}

/* Center text vertically */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

/* Change border color */
.select2-container--default .select2-selection--single {
    border: 1px solid #a3d6ce;
    border-radius: 6px;
}

/* Change placeholder text color */
.select2-selection__placeholder {
    color: #999 !important;
}

/* Change dropdown background */
.select2-container--default .select2-results__option--highlighted {
    background-color: #a3d6ce;
    color: white;
}

/* Change arrow color */
.select2-container--default .select2-selection__arrow b {
    border-color: #a3d6ce transparent transparent transparent;
}
